.myClass {
  float: left;
}

.page-footer {
  position: fixed;
  height: 5em;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.myHeader {
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  margin-top: 0px;
}

.container {
  margin: 5em auto;
  position: relative;
  width: 80%;
}

.marginRight2 {
  margin-right: 2em;
}

.moreOptionDiv {
  margin-bottom: 10em;
  margin-right: 2em;
}
