{{more-options}}
<div id="modal_group" class="modal">
    <div class="modal-content">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_box</i>
          <input id="add_gname" type="text" class="validate" >
          <label for="add_p">Group Name</label>
        </div>
        <div class="row">
          <div class="input-field col s5">
            <i class="material-icons prefix">account_box</i>
            <input id="" type="text" class="validate" >
            <label for="add_gp">Name</label>
          </div>
          <div class="input-field col s5">
            <i class="material-icons prefix">mail</i>
            <input id="" type="email" class="validate">
            <label for="add_gpmail">Email</label>
          </div>
          <div class="input-field col s5">
            <i class="material-icons prefix">account_box</i>
            <input id="" type="text" class="validate" >
            <label for="add_gp">Name</label>
          </div>
          <div class="input-field col s5">
            <i class="material-icons prefix">mail</i>
            <input id="" type="email" class="validate">
            <label for="add_gpmail">Email</label>
          </div>
          <div class="input-field col s5">
            <i class="material-icons prefix">account_box</i>
            <input id="" type="text" class="validate" >
            <label for="add_gp">Name</label>
          </div>
          <div class="input-field col s5">
            <i class="material-icons prefix">mail</i>
            <input id="" type="email" class="validate">
            <label for="add_gpmail">Email</label>
          </div>
          <div class="col s12">
          <button id="" class=" waves-effect waves-light btn-floating btn-flat right red"><i class="material-icons right ">add</i></button>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">ADD Group</a>
    </div>
  </div>
<script>
  $(document).ready(function() {
    $('.modal').modal();
    $('.modal').fadeIn(3000);
  });
</script>