<div class="fixed-action-btn vertical moreOptionDiv">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Go to DashBoard" href="/"><i class="material-icons">home</i></a></li>

    <li><a class="btn-floating yellow darken-1 tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Add a group" href="modal-group"><i class="material-icons">people</i></a></li>

    <li><a class="btn-floating green tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Add a Person" href="modal-person"><i class="material-icons">person</i></a></li>

    <li><a class="btn-floating blue tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Add a Bill" href="modal-bill"><i class="material-icons">receipt</i></a></li>
  </ul>
</div>
