<footer class="page-footer orange">
  <div class="footer-copyright">
    <div class="container">
      Project 2: Team3 | <a class="orange-text text-lighten-3" href="">GitHub Link</a>
    </div>
  </div>
</footer>
